
.roboto-mono-cool {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

@layer theme {
  :root, :host {
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: .roboto-mono-cool, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
    --default-font-family: var(--font-sans);
    --default-mono-font-family: var(--font-mono);
  }
}


html {
    margin: 1%;
    padding: 3%;
    background-color: #2A365A;
    color: #eeeeee;
    border-color: #dddddd;
    font-family: sans-serif;
}

html, body {
    text-align: center;
    list-style-position: inside;
}

h1 h2 h3 h4 h5 h6 {
    font-family: monospace;
}

#main {
    margin: 4%;
    padding: 4%;
    border-radius: 8px;
}

@media (prefers-color-scheme: dark) {
    html, body {
        /* background-color: #115336; */
        background-color: #003114;
        color: #eee;
        border-color: #dddddd;
    }

    #main {
        background-color: #004225;
    }
}

@media (prefers-color-scheme: light) {
    html, body {
        background-color: #089a45;
        color: #111111;
        border-color: #dddddd;
    }
}

div.instructions {
    word-wrap: normal;
}

.flex-container {
    gap: 10px;
    max-width: 95%;
    min-width: 50%;
    /* margin: auto; */
}

.subtitle {
    overflow-wrap: word-wrap;
    font-style: italic;
    margin: 1%;
}

h3 {
    font-size: large;
}

input {
    border-radius: 8px;
}

input.clear-button {
    background-color: #da1e37;
    color: #eeeeee;
}

.div-form {
    /* outline: auto; */
    margin: 1%;
    padding: 1%;
    gap: 5px;
}

.form-group label {
    justify-items: left;
    text-align: left;
    max-width: 95%;
}

#name input#protein input#calories input#cost input#servings  {
    max-width: 95%;
}

.form-group {
    margin: 1%;
    padding: 2%;
}


div .sort-label p {
    font-style: italic;
}

.output-list {
    max-width: 90%;
    text-align: center;
}

ol {
    display: inline-block;
    text-align: left;
}



.fraction {
    font-style: italic;

  display: inline-flex; /* or flex */
  flex-direction: column;
  align-items: center; /* Centers numerator/denominator */
}

.numerator {
  border-bottom: 1px solid #dddddd; /* The horizontal line */
  padding-bottom: 2px; /* Space between number and line */
  margin-bottom: 2px; /* Space between line and denominator */
    font-style: italic;

}

div.footer {
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 2%;
}

div.footer-ack {
    margin-bottom: 3%;
}

div.bottom-right
{
         
    width: 50px; 
    height: 50px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

span.italic-part  {
    font-style: italic;
}